.DS_Store
.ipynb_checkpoints
#*
*~
*.o
*.a
*.aux
*.h5
#*#
*.dat
optimizer/Tests/*.exe
build
data
CMakeCache.txt
CMakeFiles
cmake_install.cmake
config.h
Makefile
revision.h
src/OPALrevision.h
src/opal
tests/tools/gtest
tests/opal_unit_tests
tests/OpalSourcePath.h
doc/
doc/user_guide/opal_user_guide.bcf
doc/user_guide/opal_user_guide.idx
doc/user_guide/opal_user_guide.lof
doc/user_guide/opal_user_guide.log
doc/user_guide/opal_user_guide.lot
doc/user_guide/opal_user_guide.out
doc/user_guide/opal_user_guide.pdf
doc/user_guide/opal_user_guide.run.xml
doc/user_guide/opal_user_guide.synctex.gz
doc/user_guide/opal_user_guide.toc
.rtags
init-test.sh
init.el
input-files/OPAL-X-STAT0.csv
input-files/timing.dat
build_*
